body
{
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #525966;
    color: white;
    overflow-y: scroll;
}

div
{
    display: block;
    font-size: 0;
}

.topbar
{
    background-color: white;
    padding: 10px 0px 10px 0px;
    height:fit-content; 
}

.logo img
{
    width: 50px;
    margin: 0px 20px 0px 20px;
}

.logo input
{
    width: 50px;
    margin: 0px 20px 0px 20px;
}

.quote-select
{
    padding-top: 25px;
    font-size: 50px;
    text-align: center;
}

.quote-select p
{
    margin: 0;
}

.moti-quote
{
    text-align: center;
    font-size: 50px;
    padding: 100px 0px 300px;
}

.moti-quote p
{
    margin: 0;
}

#reset
{
    float: right;    
}

